footer{
	gap: 10%;
	display: flex;
	padding-block: 15px;
	background-color: var(--primary-color);
	justify-content: center;
}

footer h1{
	text-transform: uppercase;
}

footer aside{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer a{
	width: 100%;
	text-align: center;
	text-transform: capitalize;
}

footer *{
	color: var(--second-color);
}

@media (max-width: 600px) {
  footer{
    flex-direction: column;
    gap: 15px;
  }

  footer aside{
    align-items: center;
  }
}