header{
	position: fixed;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	padding-inline: 30px;
	border-radius: 15px;
	margin-top: 10px;
  height: var(--header-h);
	padding-block: 20px;
	backdrop-filter: blur(30px);
}

header > h2{
	text-transform: uppercase;
}

header > nav{
	display: flex;
	justify-content: inherit;
	align-items: inherit;
	margin-right: 25%;
	gap: 30px;
}

header > nav img{
	display: none;
}

header > nav a{
	font-weight: 600;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: capitalize;
}

@media (max-width: 600px) {
  header > nav {
    display: none;
  }
}