article.emphasis{
	display: flex;
	padding-block: calc(var(--header-h) + 50px);
  padding-inline: 15px;
  gap: 15px;
	background-color: var(--primary-color);
	height: fit-content;
	justify-content: space-evenly;
}

article.emphasis > aside{
	display: flex;
	flex-direction: column;
  align-items: center;
	gap: 15px;
	width: 80%;
	height: 100%;
}

article.emphasis > aside > h1{
	font-size: 2rem;
  text-align: center;
	text-transform: uppercase;
}

article.emphasis > aside > p{
	padding-inline: 10px;
  text-align: center;
	text-indent: 5px;
  width: 80%;
}

article.comments{
  display: flex;
  gap: 5px;
  padding: 30px;
}

article.comments h2{
  font-size: 1rem;
  font-weight: 500;
}

article.comments p{
  position: relative;
  transform: translateX(20px);
}

article.comments p::before{
  content: "â”";
  position: absolute;
  left: -20px;
  top: 0;
}

article.emphasis img{
	width: 80%;
  transform: translateX(10%);
  aspect-ratio: 25/24;
}

article.videos{
	display: flex;
	gap: 20px;
	padding: 35px;
	flex-direction: column;
	background-color: var(--second-color);  
}

article.videos *{
	color: var(--primary-color);
}

article.videos > aside > nav{
	display: flex;
	height: 20vw;
	gap: 15px;
	overflow-x: auto;
	align-items: center;
}

article.videos > aside > div{
	display: flex;
	padding-bottom: 10px;
	gap: 15px;
	align-items: baseline;
}

article.videos > aside > div > p{
	font-size: 1.3rem;
}

article.videos > aside > div > h1{
	text-transform: capitalize;
	font-size: 2rem;
}

article.videos > aside > nav{
	padding-inline-end: 4%;
}

article.videos > aside > nav > img{
	display: flex;
	border-radius: 15px;
	transition: .2s;
	height: 90%;
}

article.videos > aside > nav > img:hover{
	cursor: pointer;
	height: 100%;
}

@media (max-width: 600px) {
  article.emphasis{
    flex-direction: column;
    align-items: center;
  }

  article.emphasis > aside{
    width: 90%;
  }

  article.emphasis img{
    width: 90%;
    height: none;
  }

  article.comments{
    display: none;
  }

  article.videos div{
    flex-direction: column;
    gap: 5px;
  }

  article.videos > aside > nav{
    height: 60vw;
  }
}